@media ( max-width:350px){
    
*{max-width: 350px;}

#subtract{
    order: 1;
}

#add{

     order: -1;
}


#input__number{
    align-items: center;
    justify-content: center;
    /*appearence quita las flechas*/
    appearance: none;

    margin:1em 0 1em 0;
    order: 0; 
}

 
#confirmacion{

    width: 100%;
    
}
 





/**/


#pasteles__lista{

    width: 100%;
    background-color: var(--accent);

  
}

}