


.logo{
    font-size: 2rem;
    margin: 1rem 0;
}

#pasteles__lista{

  color:var(--mainColor);  
  
  border-style: none;
    border:none;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    
    margin:1rem 0;  
    padding: 1em 0;
        
    font-size:1.5em;


    
    width: 100%;


    padding:1rem 1.5rem;
   
 
    text-align: center;
    font-weight: bolder;

   
    background-color: var(--accent);

}

/* option{

    border:none;
    text-align: center;

    height:50px;
}
 */

 
.nombre__bizcocho{
    margin: 3rem 0;
    text-align: center;

}










/* AÑADE BIZCOCHOS   */

.stock__title{

    margin:5rem 0;
}


.container_sel{
    display:flex;
    flex-direction:column;
  
    align-items:center;
  }
  
  h2{
    font-size:1.5em;
    font-weight:900;
    margin: 1rem 0  1rem 0;
    
  }
  
  .bloque__sel{
    display:flex;
    justify-content:center;
   
    padding:1.5em;
  }
  
  .sel__input{
      transform: opacity(0%);
      transform: scale(0%);
        opacity: 100%;
  }
  
  .sel__input:checked + .sel__label{
    background-color:var(--active);
  }
  
  .sel__label{
    font-size:1em;
    text-align:center;
    
    padding:1rem;
    margin: 0.5rem;
    background-color:var(--accent);
    color:var(--mainColor);
    
    min-width:25px;
    min-height:25px;
    
    cursor:pointer;
    
    border-radius:3%;
  
  }

 
  .bloque__input{
    display:flex;
    flex-wrap: wrap;
    
    
    
  }
  
  #input__number {
    text-align:center;

    
    font-size:3em;
    font-weight:bolder;      
    border-style:none;



    margin:1em 0 1em 0;

        
  }

  
/* Chrome, Safari, Edge, Opera  ocultar flechas input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox ocultar flechas input */
input[type=number] {
  -moz-appearance: textfield;
}


  #input__num__lab{
      display: none;
  }

  
  .bloque__input > button {
    
    font-size:2em;
    font-weight:bolder;

    border-radius:3%;
    border-style:none;

    padding: 2rem 2rem;
    flex:1;
    
    color:var(--mainColor);
    background-color:var(--accent);


    cursor:pointer;
  }

  
  
  .confirmacion{
    
    color:var(--mainColor);
    background-color: var(--accent);
     
    padding: 1em 0;
    
    
    font-size:1.5em;
    font-weight:bold;
    
    width: 100%;
    border-style:none;
    
    cursor:pointer;
    
  }
  
.confirmacion:first-of-type{
  margin:2rem 0 0.5rem 0; 
}
 
  